APP_NAME=Switchboard
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=http://localhost

APP_MAINTENANCE_DRIVER=file
BCRYPT_ROUNDS=10
LOG_CHANNEL=stack
LOG_LEVEL=info

DB_CONNECTION=sqlite

SESSION_DRIVER=file
SESSION_LIFETIME=120
QUEUE_CONNECTION=sync
CACHE_STORE=file
FILESYSTEM_DISK=local
